@charset "UTF-8";

//------------------------------------//
//   FONTS
//------------------------------------//

@import "fonts";

//------------------------------------//
//   MIXINS
//------------------------------------//

@import "mixins";

//------------------------------------//
//   BODY AND CLASSES
//------------------------------------//

h1, h2, h3, h4, h5, h6, p, span {
    text-rendering: optimizelegibility;
}
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
}
body {
    min-height: 100%;
    // overflow: hidden;
    // overflow: hidden;
}
.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hidden {
    display: none !important;
}

.nano {  }
.nano .content {  }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

$breakpoint: 640px;

//------------------------------------//
//   Homepage with event search page
//------------------------------------//

@import "homepage";

//------------------------------------//
//   Event list page
//------------------------------------//

@import "eventlist";

//------------------------------------//
//   Single event page
//------------------------------------//

@import "singleevent";

//------------------------------------//
//   Add event page
//------------------------------------//

@import "addevent";

//------------------------------------//
//   Edit page
//------------------------------------//

@import "edit";

//------------------------------------//
//   Info page
//------------------------------------//

@import "info";